<%=link_to("Home", mutedphrases_path) %>
<%=link_to("Search", new_mutedphrase_path) %>

<section>
  <%= @mutedphrase.phrase%>
  <% @followers.each do |follower| %>
    <%= follower.screen_name %>
    <%= follower.mutedtweet %>
  <% end %>
</section>
