<!DOCTYPE html>
<html>
  <head>
    <title>MuteTwitterSpoilers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section>
      <h1>Mute Twitter Spoilers</h1>
    </section>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>
